#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    /* ホールドタップの挙動設定 */
    behaviors {
        hm: home_row_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
            require-prior-idle-ms = <125>;
        };
        lt_p: layer_tap_preferred {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_PREFERRED";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
    };

    /* コンボ設定：デフォルト(0)、レイヤー2(2)、数字レイヤー(1)で有効 */
    combos {
        compatible = "zmk,combos";
        combo_caps {
            timeout-ms = <30>;
            key-positions = <2 3>;
            bindings = <&kp CAPS>;
            layers = <0 1 2>;
        };
        combo_comma {
            timeout-ms = <30>;
            key-positions = <14 15>;
            bindings = <&kp COMMA>;
            layers = <0 1 2>;
        };
        combo_dot {
            timeout-ms = <30>;
            key-positions = <15 16>;
            bindings = <&kp DOT>;
            layers = <0 1 2>;
        };
        combo_slash {
            timeout-ms = <30>;
            key-positions = <14 16>;
            bindings = <&kp SLASH>;
            layers = <0 1 2>;
        };
        combo_minus {
            timeout-ms = <50>;
            key-positions = <14 15 16>;
            bindings = <&kp MINUS>;
            layers = <0 1 2>;
        };
    };

    /* 条件付きレイヤー：37と38（親指中央と右）同時押しでファンクションレイヤーへ */
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* Layer 0: デフォルトレイヤー */
        default_layer {
            bindings = <
                &kp J        &kp R         &kp I         &kp U        &kp S          &kp Y     &none &none &none &none &none &none
                &hm LGUI H   &hm LSHIFT T  &hm LALT O    &hm LCTRL A  &hm LSHIFT N   &kp K     &none &none &none &none &none &none
                &kp B        &kp D         &kp W         &kp E        &kp M          &kp G     &none &none &none &none &none &none
                &lt_p 3 RET  &lt_p 1 SPACE &lt_p 2 BSPC  &none        &none
            >;
        };

        /* Layer 1: 数字レイヤー (37番長押し) */
        number_layer {
            bindings = <
                &kp SEMI     &kp COLON     &kp N7        &kp N8       &kp N9         &kp UNDER &none &none &none &none &none &none
                &hm LGUI AT  &hm LSHIFT N0 &hm LALT N4   &hm LCTRL N5 &hm LSHIFT N6  &kp BSLH  &none &none &none &none &none &none
                &kp LBKT     &kp RBKT      &kp N1        &kp N2       &kp N3         &kp CARET &none &none &none &none &none &none
                &kp RET      &kp SPACE     &kp BSPC      &none        &none
            >;
        };

        /* Layer 2: レイヤー2 (38番長押し) */
        layer_2 {
            bindings = <
                &kp Q        &kp R         &kp I         &kp U        &kp S          &kp C     &none &none &none &none &none &none
                &hm LGUI P   &hm LSHIFT T  &hm LALT O    &hm LCTRL A  &hm LSHIFT N   &kp K     &none &none &none &none &none &none
                &kp F        &kp X         &kp V         &kp E        &kp Z          &kp L     &none &none &none &none &none &none
                &kp RET      &kp SPACE     &kp BSPC      &none        &none
            >;
        };

        /* Layer 3: 矢印レイヤー (36番長押し) */
        arrow_layer {
            bindings = <
                &kp ESC      &kp HOME      &kp PG_UP     &kp UP       &kp PG_DN      &kp END   &none &none &none &none &none &none
                &hm LGUI TAB &hm LSHIFT BSPC &kp LEFT    &kp DOWN     &kp RIGHT      &kp DEL   &none &none &none &none &none &none
                &kp SLCK     &kp INS       &kp C_PREV    &kp C_PP     &kp C_NEXT     &kp K_APP &none &none &none &none &none &none
                &kp RET      &kp SPACE     &kp BSPC      &none        &none
            >;
        };

        /* Layer 4: ファンクションレイヤー (37+38 同時押し) */
        function_layer {
            bindings = <
                &kp C_BRI_UP &kp F12       &kp F7        &kp F8       &kp F9         &kp C_VOL_UP &none &none &none &none &none &none
                &hm LGUI C_BRI_DN &hm LSHIFT F11 &hm LALT F4 &hm LCTRL F5 &hm LSHIFT F6 &kp C_VOL_DN &none &none &none &none &none &none
                &none        &kp F10       &kp F1        &kp F2       &kp F3         &kp C_MUTE   &none &none &none &none &none &none
                &kp RET      &kp SPACE     &kp BSPC      &none        &none
            >;
        };
    };
};
